{% extends 'layout.html' %} {% block title %}Nueva Persona {% endblock %} {%
block subtitle %} Nueva Persona {% endblock %} {% block css %} {% endblock %}
{%block body%}
<form>
  <div class="form-group row">
    <label for="inputText" class="col-sm-1 col-form-label">Nombre</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputText" />
    </div>

    <label for="inputText" class="col-sm-1 col-form-label">Apellido</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputText" />
    </div>
  </div>
  <hr />
  <div class="form-group row">
    <label for="inputText" class="col-sm-1 col-form-label">Dirección</label>
    <div class="col-sm-5">
      <input
        type="text"
        class="form-control"
        id="inputText"
        placeholder="Calle"
      />
    </div>
    <div class="col-sm-2">
      <input
        type="text"
        class="form-control"
        id="inputText"
        placeholder="Número"
      />
    </div>
    <div class="col-sm-2">
      <input
        type="text"
        class="form-control"
        id="inputText"
        placeholder="Piso"
      />
    </div>
    <div class="col-sm-2">
      <input
        type="text"
        class="form-control"
        id="inputText"
        placeholder="Unidad"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4">
      <select id="inputState" class="form-control">
        <option selected>Pais</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-sm-4">
      <select id="inputState" class="form-control">
        <option selected>Estado</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-sm-4">
      <select id="inputState" class="form-control">
        <option selected>Ciudad</option>
        <option>...</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputText" class="col-sm-2 col-form-label">Código Postal</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputText" />
    </div>
  </div>
  <hr />

  <div class="form-group row">
    <label for="inputText" class="col-sm-2 col-form-label">Telefono</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputText" />
    </div>
    <label for="inputText" class="col-sm-1 col-form-label">eMail</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputText" />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputText" class="col-sm-2 col-form-label">Documento</label>
    <div class="col-sm-2">
      <select id="inputState" class="form-control">
        <option selected>Tipo</option>
        <option>DNI</option>
        <option>Pasaporte</option>
      </select>
    </div>
    <div class="col-sm-2">
      <input
        type="text"
        class="form-control"
        id="inputText"
        placeholder="Número"
      />
    </div>
    <label for="inputText" class="col-sm-1 col-form-label">Legajo</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputText" />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputText" class="col-sm-2 col-form-label">ID Fiscal</label>
    <div class="col-sm-2">
      <select id="inputState" class="form-control">
        <option selected>Tipo</option>
        <option>CUIT</option>
        <option>CUIL</option>
        <option>RUT</option>
      </select>
    </div>
    <div class="col-sm-2">
      <input
        type="text"
        class="form-control"
        id="inputText"
        placeholder="Número"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputText" class="col-sm-2 col-form-label">Nacionalidad</label>
    <div class="col-sm-4">
      <select id="inputState" class="form-control">
        <option selected>Seleccionar</option>
        <option>...</option>
      </select>
    </div>
    <label for="inputText" class="col-sm-1 col-form-label">Idioma</label>
    <div class="col-sm-5">
      <select id="inputState" class="form-control">
        <option selected>Seleccionar</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <a href="{{ path_for('personas') }}" class="btn btn-danger m-3">Cancelar</a>
    <a href="{{ path_for('personas') }}" class="btn btn-primary m-3">Grabar</a>
  </div>
</form>

{% endblock %} {% block javascripts %} {% endblock %}
